*
{
    outline: none;
}

html, body
{
    height: 100%;
    min-height: 100%;
}

body
{
    margin: 0;
    background-color: white
    text-align:center;
}

#register{
  width: 100%;
  height: 100%;
  vertical-align: center;
}

table{
  width: 500px;
  margin:auto;
  margin-top: 30px;
}

.title{
  height: 100px;
  font-size: 40px;
  font-family: Nunito;
  font-weight: bold;
  color: grey;
  border-bottom: 1px dashed grey;
}

.rine{
  height: 20px;
}

.rin{
  font-size: 30px;
  font-family: Nunito;
  /*font-weight: bold;*/
  width: 200px;
  height: 60px;
}

.rinm{
  font-size: 30px;
  font-family: Nunito;
  /*font-weight: bold;*/
  height: 60px;
}

.rinem{
  height: 20px;
}
.rback{
text-align: right;
width: 100%;
font-size: 14pt;
}

.rinput{
  /*height: 20px;*/
  /*text-align: left;*/
  width: 100%;
  font-size: 14pt;
  padding-right: 10px;
 }

 .rinputtext{
    height: 35px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #eee;
    font-size: 14pt;
    font-family: Nunito;

 }

.rbtn{
  height: 120px;
  width: 100%；
  background-color: #eee;
  text-align: center;
}

 .textarea{
    height: 50px;
    width:  100%;
    border-radius: 10px;
    border: 2px solid #eee;
     font-size: 14pt;
    margin-right: 2px;
 }

.cancel {
    background: #d0d0d0;
    box-shadow:0 5px 5px #f0f0f0, 0 0 0 5px #f0f0f0;
    color: black;
    border: 2px solid #eee;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    font-size: 30px;

    color: #black;
}

.cancel:hover {
  background: #bebebe;
   box-shadow:0 5px 5px #f0f0f0, 0 0 0 5px #f0f0f0;
  color: black;
}

/* Imitate a pressed effect for buttons */
.cancel:active {
  top: 4px;
   box-shadow:0 5px 5px #f0f0f0, 0 0 0 5px #f0f0f0;
}
